/*--------------------------------------*/
/* Define style for the G'MIC website   */
/*--------------------------------------*/

/* Global look. */

body {
    width: 1024px;
    color: #222222;
    background-color: #707090;
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

code, pre {
    background-color: #dddddd;
    padding: 5px;
}

a:hover {
  color: #707090;
}

hr {
    height: 1px;
    border: 0;
    color: black;
    background-color: black;
}

 /* G'MIC markdown. */

.gmd_bold {
    font-weight: bold;
}

.gmd_braces {
    color: darkmagenta;
    font-weight: bold;
}

.gmd_cite {
    background-color: lightcyan;
    color: navy;
    font-style: italic;
}

.gmd_code {
    background-color: gainsboro;
    color: darkslategrey;
    font-family: monospace;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid dimgray;
    width: 80%;
}

.gmd_gmic::before {
    content: "G'MIC";
    color: #000099;
    font-weight: bold;
}

.gmd_italic {
    font-style: italic;
}

.gmd_list::before, .gmd_list1::before {
    content: "• ";
}

.gmd_list1 {
    margin-left: 1em;
}

.gmd_list2 {
    margin-left: 2em;
}

.gmd_list2::before {
    content: "￮ ";
}

.gmd_mono {
    background-color: lavenderblush;
    color: purple;
    font-family: monospace;
}

.gmd_monobold {
    color: orangered;
    font-family: monospace;
    font-weight: bold;
}

/* Other convenient classes */

.smaller {
    font-size: smaller;
}

.transp {
    background-color: initial;
}

.h1_reference {
    color: #708090;
}

.hr_small {
    width: 80%;
    height: 1px;
    border: 0;
    color: #aaaaaa;
    background-color: #aaaaaa;
}

.p_more {
    text-align: right;
    font-style: italic;
    font-size: smaller;
    margin: 0;
}

.p_caption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin: 0;
}

.p_disclaimer {
    font-style: italic;
    font-size: smaller;
}

.p_donate {
    font-size: smaller;
    margin-left: 30px;
}

.pre_download {
    background-color: #dddddd;
    padding: 5px;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 15px;
}

.header h1 {
    color: #aaaaaa;
    text-align: center;
    font-weight: normal;
    font-size: 115%;
    margin-top: 0;
}

.header h2 {
    font-size: smaller;
    color:#888888;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

.header hr {
    color:#888888;
    background-color: #888888;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header_instit {
    position: absolute;
    top: 110px;
    right: 32px;
}

.section_title {
    width: 1000px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_top.png");
}

.section_title p {
    position: relative;
    left: 25px;
    top: 12px;
    color: #708090;
    margin: 0;
    font-size: 20px;
}

.section_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-image: url("img/section_middle.png");
    font-size: 15px;
    word-wrap: break-word;
}

.section_end {
    width: 1000px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom.png");
}

.bloc_start {
    width: 1000px;
    min-height: 7px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom_mirrored.png");
}

.bloc_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
    background-image: url("img/section_middle.png");
}

.bloc_end {
    width: 1000px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom.png");
}

.table_left tr td {
    vertical-align: top;
    padding-right: 20px;
}

.table_content {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

.table_content tr td {
    padding-right: 15px;
    vertical-align: middle;
}

.table_download {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

.table_download h1 {
    font-size: 115%;
    margin-top: 0;
}

.table_download tr td {
    padding-right: 15px;
    vertical-align: top;
}

.table_download li {
    padding: 0.2em;
    line-height: 1.5em;
}

.table_download tr td pre a {
    background-color: unset;
    color: unset;
    border: unset;
}

.menu_gallery {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing : 0;
    border-collapse : collapse;
    font-size: smaller;
}

.menu_gallery tr td {
    border: 1px solid black;
    padding: 5px;
}

.menu_gallery tr td:hover {
    background-color: #aaaacc;
}

.menu_gallery tr td a:hover {
    color: white;
}

.table_gallery {
    margin-left: auto;
    margin-right: auto;
}

.table_gallery tr td {
    text-align: center;
}

.reference_navigation_bar {
    font-size: smaller;
    width: 100%;
}

.reference_navigation_bar tr td:nth-child(1) {
    text-align: left;
    padding: 0;
}

.reference_navigation_bar tr td:nth-child(2) {
    text-align: right;
    padding: 0;
}

.table_category, .table_shortcuts {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table_category tr td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    word-wrap: break-word;
    max-width: 150px;
    min-width: 150px;
}

.table_shortcuts tr td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    word-wrap: break-word;
    max-width: 250px;
    min-width: 250px;
}

.table_category a, .table_shortcuts a {
    font-weight: normal;
}

.table_category a:hover {
    font-weight: bold;
    background-color: #D0E0F0;
}

.table_shortcuts a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.table_category tr:nth-child(even) {
    background: #dddddd;
}

.table_shortcuts tr:nth-child(odd) {
    background: #dddddd;
}

.builtin_command_hover, .builtin_command {
    background-color: paleturquoise;
    color: navy;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.builtin_command_hover:hover {
    background-color: turquoise;
}

.tutorial_button {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}

.tutorial_button a {
    background-color: #8bb5ad;
    color: white;
    border: 1px solid black;
    padding: 3px;
}

.tutorial_button a:hover {
    background-color: #6b958d;
}

.h1_builtin {
    width: 100%;
}

.h1_builtin tr td:nth-child(1) {
    text-align: left;
    padding: 0;
}

.h1_builtin tr td:nth-child(2) {
    text-align: right;
    padding: 0;
}

.arguments {
    color: #AA00AA;
    word-wrap: break-word;
}

.eqto {
    background-color:#EAE0F5;
    font-weight: bold;
    padding:2px;
}

.samp_color {
    background-color:#EAE0F5;
    padding:2px;
}

.samp_braces {
    color: #990099;
    font-weight: bold;
    padding: 2px;
}

.arch {
    font-weight: bold;
    color: #446aa3;
}

.donation_link, .table_download li a {
    background-color: #8bb5ad;
    border: 1px solid black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2px;
}

.donation_link:hover, .table_download li a:hover {
  color: black;
}

/* Define style for button animations */
.button68px {
    height: 68px;
}

#gallery_id, #download_id, #supportus_id {
    width: 200px;
    height: 68x;
    text-align: center;
}

#gallery_id img, #download_id img, #supportus_id img {
    width: 98%;
}

#gallery_id.down img, #download_id.down img, #supportus_id.down img {
    width: 90%;
}

#gallery_id.over img, #download_id.over img, #supportus_id.over img {
    width: 100%;
}

#tenyears_id, #elevenyears_id {
    width: 104px;
    height: 100px;
    text-align: center;
}

#tenyears_id img, #elevenyears_id img {
    width: 30%;
}

#tenyears_id.down img, #elevenyears_id.down img {
    width: 25%;
}

#tenyears_id.over img, #elevenyears_id.over img {
    width: 35%;
}

/* Main navigation bar */

#cssmenu {
    text-align: center;
    background-color: #dddddd;
}

#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu > ul {
    position: relative;
    z-index: 597;
}
#cssmenu > ul li {
    float: left;
    min-height: 1px;
    vertical-align: middle;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#cssmenu > ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}
#cssmenu > ul ul li {
    float: none;
}
#cssmenu > ul ul ul {
    top: 1px;
    left: 99%;
}
#cssmenu > ul li:hover > ul {
    visibility: visible;
}
/* Align last drop down RTL */
#cssmenu > ul > li.last ul ul {
    left: auto !important;
    right: 99%;
}
#cssmenu > ul > li.last ul {
    left: auto;
    right: 0;
}
#cssmenu > ul > li.last {
    text-align: right;
}
/* Theme Styles */
#cssmenu > ul {
    font-family: Calibri, Tahoma, Arial, sans-serif;
    font-size: 14px;
    background: #dddddd;
    width: auto;
    zoom: 1;
    display: inline-block;
}
#cssmenu > ul:before {
    content: '';
    display: block;
}
#cssmenu > ul:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu > ul li a {
    display: inline-block;
    padding: 4px 12px;
}

#cssmenu ul li a img {
    vertical-align: -20%;
}

#cssmenu > ul > li.active,
#cssmenu > ul > li.active:hover {
    background-color: #a0a0c0;
}
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:active,
#cssmenu > ul > li > a:visited {
    color: black;
}
#cssmenu > ul > li > a:hover {
    color: black;
}
#cssmenu > ul ul ul {
    top: 0;
}
#cssmenu > ul li li {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    text-align: left;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
    background-color: #f5f5f5;
}
#cssmenu > ul > li.hover,
#cssmenu > ul > li:hover {
    background-color: #a0a0c0;
}
#cssmenu > ul a:link,
#cssmenu > ul a:visited {
    color: #9a9a9a;
    text-decoration: none;
}
#cssmenu > ul a:hover {
    color: #9a9a9a;
}
#cssmenu > ul a:active {
    color: #9a9a9a;
}
#cssmenu > ul ul {
    border: 1px solid #CCC \9;
    width: 250px;
}
