body {
  background-color: white;
  border-color: #707090;
  border-left-width: 120px;
  border-right-width: 120px;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-style: solid;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right_image {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
